<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head.ejs')%>
</head>

<body>
    <div class="container card bg-info">
        <%- include('includes/nav.ejs')%>
        <div class="mainContent">
            <h1>404 - Page Not Found</h1>
        </div>
    </div>
    <%- include('includes/end.ejs')%>
</body>

</html>